body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f0efff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

main {
  max-width: 700px;
  margin: 30px auto 150px;
}

header h1 {
  text-align: center;
}

#citas ul {
  list-style-type: upper-roman;
  padding: 0;
}

#citas ul li p {
  margin-top: 10px;
}

footer {
  background-color: #cac9d7;
  padding: 15px;
}

footer p {
  text-align: center;
}

footer p a {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  background-color: #ffc83d;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

footer p a:active {
  transform: translateY(-5px);
}

footer p a:hover {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
}

@media (width < 750px) {
  main {
    margin: 30px 50px 60px;
  }
}
