body {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

body.light-mode {
  background-color: #f0efff;
  color: #000;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

main {
  max-width: 700px;
  margin: 30px auto 150px;
}

header h1 {
  text-align: center;
}

header button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#citas ul {
  list-style-type: upper-roman;
  padding: 0;
}

#citas ul li p {
  margin-top: 10px;
}

footer {
  padding: 15px;
  transition: background-color 0.3s ease;
}

footer.light-mode {
  background-color: #cac9d7;
}

footer.dark-mode {
  background-color: #555;
}

footer p {
  text-align: center;
}

footer p a {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  background-color: #ffc83d;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

footer p a:active {
  transform: translateY(-5px);
}

footer p a:hover {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
}

@media (max-width: 750px) {
  main {
    margin: 30px 50px 60px;
  }
}

/* Agregamos estilos para los iconos de sol y luna */
#mode-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #ffc83d;
  transition: color 0.3s ease;
}

#mode-toggle.dark-mode {
  color: #eee;
}

.moon-icon,
.sun-icon {
  display: none;
}

.dark-mode .moon-icon,
.light-mode .sun-icon {
  display: inline;
}
